#include <winver.h>
#include "qcache-version.h"
#ifndef QCACHE_VERSION_STRING
#define QCACHE_VERSION_STRING "0.1.0.0"
#endif
#ifndef QCACHE_VERSION_NUMERIC
#define QCACHE_VERSION_NUMERIC 0,1,0,0
#endif
VS_VERSION_INFO VERSIONINFO
 FILEVERSION QCACHE_VERSION_NUMERIC
 PRODUCTVERSION QCACHE_VERSION_NUMERIC
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DRV
 FILESUBTYPE VFT2_DRV_SYSTEM
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", QCACHE_DESCRIPTION
   VALUE "FileVersion", QCACHE_VERSION_STRING
   VALUE "ProductVersion", QCACHE_VERSION_STRING
   VALUE "ProductName", "QueueCache\0"
   VALUE "OriginalFilename", QCACHE_ORIGINAL_FILENAME
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
