// SPDX-License-Identifier: MS-LPL
// See ../LICENSES/MS-LPL.txt and ../THIRD_PARTY_NOTICES.md.

//---------------------------------------------------------------------------
// scsichk.rc
//
// Copyright (C) Microsoft Corporation, 1992 - 1999
//---------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Disk Performance Driver"
#define VER_INTERNALNAME_STR        "scsichk.sys"
#define VER_ORIGINALFILENAME_STR    "scsichk.sys"

#include "common.ver"

LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
